.box {
    height: 36px; width: 36px;
    background-color: red;

    animation: slid 10s infinite;
}

@keyframes slide {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 200px;
    }
}

.green-box{
    height: 36px; width: 36px;
    background-color: green;
    border-radius: 50px;
    border-top: red 2px solid; 
    border-right: green 2px solid; 
    border-left: blue 2px solid; 
    border-bottom: yellow 2px solid; 

    animation: float 4s infinite linear;

    position: fixed;
    right: 4%;
    bottom: 4%;
}
@keyframes float {
    0%{
        scale: 1;
        rotate: 0deg;
    }
    50%{
        scale: 1.1;
        rotate: 360deg
    }
    100%{
        scale: 1;
        rotate: 0deg
    }
}