.pyd {
  color: red;
  background-color: yellow;
  padding: 40px;
  margin-left: 50px;
  border-bottom: 2px solid purple;
}
.heading2 {
}

.service {
  background-color: white;
  width: fit-content;
  padding: 8px 20px;
  text-shadow: 3px 3px 1px gray;
  border-radius: 8px;
  box-shadow: 5px 5px 5px purple;
  border: 2px solid purple;
}
