.tabs {
  background-color: #eaeaea;
  width: fit-content;
  padding: 8px;
  /* border-radius: 4px; */

  .tabs-button {
    button {
      background-color: rgb(41, 41, 41);
      color: whitesmoke;
      border: none;
      padding: 4px 12px;
      /* border-radius: 4px; */
      cursor: pointer;
    }
    button:focus {
      background-color: rgb(165, 120, 30);      
    }
  }

  .tabs-content {
    .content {
      background-color: rgb(165, 120, 30);
      color: white;
      padding: 8px;
      /* border-radius: 4px; */
    }
  }
}

.activeTab {
  background-color: rgb(165, 120, 30) !important;
}

