@import "tailwindcss";

body{
  background: #e8e8e8;
  background: radial-gradient(circle, rgba(232, 232, 232, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(250, 246, 205, 1) 100%);
}

.personal-information {
  table {
    tr {
      td {
        padding: 4px;
        label {
          color: #979797;
          font-size: 12px
        }
      }
    }
  }
}