body {
    background-color: tomato
}

h2 {
    color: white;
}

p {
    font-size: 32px;
}

@media screen and (max-width: 426px){
    body {
        background-color: blue
    }
    p {
        display: none;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
    body {
        background-color: red
    }
    p {
        font-size: 40px;
        color: white;
    }
}

@media screen and (min-width: 769px) {
    body {
        background-color: yellow;
        
    }
    h2 {
        color: black;
    }
}